<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<h3>Cart</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat quod explicabo a accusantium obcaecati error recusandae numquam unde blanditiis dignissimos minus laboriosam cumque ducimus provident, praesentium animi atque iste dicta laborum minima enim. Ratione qui veniam voluptas necessitatibus maxime, inventore magnam hic cumque, ad animi quia facere doloribus, reiciendis provident.</p>
</body>
</html>