<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Adoption d'Animaux</title>
	<link href = "../../../static/css/main.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Domestic Pet</h1>
	</header>
	<nav>
		<div class="left-menu">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
		  </div>
		  <ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		  </ul>
		  <a href="store">Store</a>
		<a href="second_shop">Besoins et accessoires</a>
		<a href="contact">Contact</a>
		<a href="cart"><img src="./static/images/cart.png", width="30", height="30" ></a>
		
	</nav>
	
	<div class="container">
		<div class="ui-card">
		  <img src="../../../static/images/main.jpg" alt="A cute cat">
		  <h4>Cute Cat</h4>
		  <p>A beautiful and playful feline</p>
		</div>
		<div class="ui-card">
		  <img src="./static/images/main.jpg" alt="A loyal dog">
		  <h4>Loyal Dog</h4>
		  <p>A faithful companion and protector</p>
		</div>
		<div class="ui-card">
		  <img src="bird.jpg" alt="A colorful bird">
		  <h4>Colorful Bird</h4>
		  <p>A fascinating creature with a beautiful plumage</p>
		</div>
	  </div>
	  
	<section>
		<p>Welcome to my website! This is where I will be sharing all sorts of interesting things with you.</p>
	</section>
	<footer>
		<p>&copy; 2023 My Website. All rights reserved.</p>
	</footer>
</body>
</html>
