{% extends 'store/base.html' %}
{% block title %}
SignUp
{% endblock title %}
{% block content %}
<section class="cta-section img-bg pt-140 pb-110 mt-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-6 col-lg-7">
                <div class="cta-content">
                    <h1> <span>Sign up</span> fully enjoy our experience.</h1>
                </div>
            </div>

            <div class="col-xxl-6 col-lg-5">
                <div class="cta-form-wrapper">
                    <form method="post" action=".">
                        {% csrf_token %}
                        
                        <label class="inline-block mb-2">User name</label><br>
                        {{ form.username }}
                        <label class="inline-block mb-2">Email</label><br>
                        {{ form.email }}
                        <label class="inline-block mb-2">Password</label><br>
                        {{ form.password1 }}
                        <label class="inline-block mb-2">Confirm Password</label><br>
                        {{ form.password2 }}

                        {% if form.errors or form.non_field_errors %}
                        <div class="mb-3 p-6 bg-red-100 rounded-xl">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
            
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}
                        <div class="container"><a href="#"><button type="submit" class="main-btn btn-hover">Register</button></a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{%endblock%}